
<div class="form-group mb-2">
    <label for="title">Quiz Name</label>
    <input required type="text" name="quizName" id="quizName" class="form-control">
</div>

<div class="form-group mb-2">
    <label for="quizDate">Date</label>
    <input required type="date" name="quizDate" id="quizDate" class="form-control">
</div>

<div class="form-group mb-2">
    <label for="rounds">Rounds</label>
</div>

<button type="submit" class="btn btn-primary">Save</button>
<a href="/" class="btn btn-secondary">Cancel</a>
