<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <title>NQN - Answer Sheet</title>
</head>

<body>

    <form class="col-5 p-3 qForm">

        <div class="text-center">
            <div class="lead">Neebers Quiz Night - Answer Sheet</div>
            <div>Team: <b>{teamName}</b></div>
            <div>Round: <b>{roundNum}</b></div>
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q1-addon">Q1</span>
            <input type="text" class="form-control" placeholder="Answer 1" aria-label="Answer 1" aria-describedby="q1-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q2-addon">Q2</span>
            <input type="text" class="form-control" placeholder="Answer 2" aria-label="Answer 2" aria-describedby="q2-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q3-addon">Q3</span>
            <input type="text" class="form-control" placeholder="Answer 3" aria-label="Answer 3" aria-describedby="q3-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q4-addon">Q4</span>
            <input type="text" class="form-control" placeholder="Answer 4" aria-label="Answer 4" aria-describedby="q4-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q5-addon">Q5</span>
            <input type="text" class="form-control" placeholder="Answer 5" aria-label="Answer 5" aria-describedby="q5-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q6-addon">Q6</span>
            <input type="text" class="form-control" placeholder="Answer 6" aria-label="Answer 6" aria-describedby="q6-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q7-addon">Q7</span>
            <input type="text" class="form-control" placeholder="Answer 7" aria-label="Answer 7" aria-describedby="q7-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q8-addon">Q8</span>
            <input type="text" class="form-control" placeholder="Answer 8" aria-label="Answer 8" aria-describedby="q8-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q9-addon">Q9</span>
            <input type="text" class="form-control" placeholder="Answer 9" aria-label="Answer 9" aria-describedby="q9-addon"><br/> 
        </div>

        <div class="input-group mt-2 mb-2">
            <span class="input-group-text" id="q10-addon">Q10</span>
            <input type="text" class="form-control" placeholder="Answer 10" aria-label="Answer 10" aria-describedby="q10-addon"><br/> 
        </div>

        <div class="button-group text-center" style="margin: 0 auto;">
            <button type="submit" class="btn btn btn-primary">Submit</button>&nbsp;
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
     
    </form>

</body>
</html>